<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <title>Title</title>

    <!-- 这是jquery的核心包  -->
    <script type="text/javascript" src="../jquery.min.js"></script>
    <script src="../highcharts/code/highcharts.js"></script>
    <script src="../highcharts/code/modules/exporting.js"></script>
    <script src="../highcharts/code/modules/export-data.js"></script>

</head>

<body>

<div id="container" style="min-width: 310px; height: 400px; max-width: 600px; margin: 0 auto"></div>
</body>
<script>
    $(function () {
        $.ajax({
            url:".//queryMian",
            type:"post",
            success:function (data) {
                
            }
        })


    })
</script>
</html>